* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}
.header div {
  border: 2px solid black;
}
.main div {
  border: 2px solid black;
}
.footer {
  border: 2px solid black;
}

.header {
  width: 100%;
  height: 15vh;
  display: flex;
  gap: 20px;
}
.title {
  width: 20%;
  background-color: burlywood;
  border-radius: 7px;
}
.nav {
  width: 80%;
  background-color: crimson;
  border-radius: 7px;
}
.main {
  display: flex;
  width: 100%;
  height: 60vh;
  margin-block: 20px;
  gap: 25px;
}
.kiri {
  width: 20%;
  height: 100%;
  background-color: cadetblue;
  border-radius: 7px;
}
.tengah {
  width: 60%;
  height: 100%;
  background-color: slateblue;
  border-radius: 7px;
}
.kanan {
  width: 20%;
  height: 100%;
  background-color: pink;
  border-radius: 7px;
}
.footer {
  width: 100%;
  height: 15vh;
  background-color: tomato;
  border-radius: 7px;
}

