* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 90%;
  margin: auto;
}
.container {
  margin-top: 35px;
}

.hijau {
  width: 100%;
  height: 20vh;
  background-color: cadetblue;
  margin: auto;
  border: 2px solid black;
  border-radius: 7px;
}
.layer1 {
  display: flex;
  justify-content: space-between;
  padding-block: 25px;
}
.kuning1 {
  width: 20%;
  height: 35vh;
  background-color: khaki;
  border: 2px solid black;
  border-radius: 7px;
}
.merah {
  width: 77%;
  height: 35vh;
  background-color: crimson;
  border: 2px solid black;
  border-radius: 7px;
}

.layer2 {
  display: flex;
  justify-content: space-between;
}
.kuning2 {
  width: 20%;
  height: 30vh;
  background-color: darkslateblue;
  border: 2px solid black;
  border-radius: 7px;
}
.biru {
  width: 77%;
  height: 30vh;
  background-color: cornflowerblue;
  border: 2px solid black;
  border-radius: 7px;
}